requests
google-api-python-client
youtube-transcript-api
sentence-transformers
numpy
pandas
scikit-learn
faiss-cpu
pyarrow
fastparquet
gradio
matplotlib
tqdm
loguru
pytest
jupyter
ipykernel
python-dotenv
